-e git+git@github.com:atif1001/fastapi-template.git@ea155982f06a99c4a652f2d5a80db1fc2465406c#egg=app
click==7.1.2
fastapi==0.62.0
flake8==3.8.4
h11==0.11.0
loguru==0.5.3
mccabe==0.6.1
pycodestyle==2.6.0
pydantic==1.7.3
pyflakes==2.2.0
python-dotenv==0.15.0
python-multipart==0.0.5
six==1.15.0
starlette==0.13.6
uvicorn==0.13.1
